* {
  margin: 0px;
  padding: 0px;
}



header {
  display: flex;
  align-items: center;
  justify-content:space-between;  
  background-color: #8789C0;
  border-style: solid;
  border-color: #08090A;
  width: 100%;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}



img {
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 5px;
  border-style: solid;
  border-color: #08090A;
  
}


nav {
  padding-right: 30px;
}

nav a {
  padding-right: 10px;
}